# Discord
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_BOT_TOKEN=

# Spotify
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

# YouTube
YOUTUBE_API_KEY=

# Database
DATABASE_URL=postgresql://harmonia:harmonia@localhost:5432/harmonia

# Redis
REDIS_URL=redis://localhost:6379

# Auth
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

# Internal communication
BOT_WS_URL=http://localhost:3001
INTERNAL_API_SECRET=
